@import url("https://fonts.googleapis.com/css?family=Chicle|Gloria+Hallelujah");

* {
  padding: 0;
  margin: 0;
}

/* styles for index */

.game-present {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url("./images/backGround.jpg");
  background-position: center;
  background-size: contain;
}

section.options {
  display: flex;
  flex-direction: row;
  background-image: url("./images/pink_paws.gif");
}

div.game-present > div.game-name h1 {
  padding-top: 10vh;
  margin-bottom: 15vw;
  font-family: "Chicle", cursive;
  font-size: 10em;
  color: orange;
  text-shadow: 2px 2px #fff;
}

div.game-present div.cat-sil {
  width: 30vw;
  height: 30vh;
}

div.game-present div.cat-sil > img {
  width: 100%;
}

section.options {
  display: flex;
  justify-content: space-evenly;
}

section.options > a {
  text-decoration: none;
  font-family: "Gloria Hallelujah", cursive;
  background-color: gray;
  padding: 4px;
  color: white;
  border-radius: 20%;
}

/* styles for character selection screen */
div.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.char-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#char-1,
#char-2,
#world {
  margin: 0 1vw;
  border: 3px solid red;
}

div.game-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
